<main>

  <h3>What do you want to sort?</h3>

  <ul>

    <li>

      <p>Sort different <b>words</b></p>

      <div>
        Add all the words that you want to sort.
        <br>
        You can sort them everytime you need.

        <button routerLink="words">Go</button>
      </div>

    </li>

    <li>

      <p>Sort between <b>numbers</b></p>

      <div>
        Select 2 numbers.
        <br>
        This numbers will delimit between which numbers are going to randomize.
        <br>
        You can sort them everytime you need.

        <button>Go</button>
      </div>

    </li>

    <li>

      <p>Random <b>Competition</b></p>
      <div>
        Add all the names of those who are going to compete.
        <br>
        You can create new competitions everytime you need.

        <button>Go</button>

      </div>

    </li>

  </ul>

</main>
