:host {
  // color
  background-color: #FFF;

  // design
  min-height: 100dvh;

  // structure
  display: flex;
  place-content: center;
  place-items: center;
}

// // // PARENT CONTAINER

main {
  // design
  min-height: 100dvh;
  max-width: 600px;
  // margin-top: 100px; me genera una scrollbar Y

  // structure
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2.5rem;
}

// // // TITLE

h4 {

  // design
  padding: 2rem;

  // font
  font-size: clamp(1.75rem, 1.5893rem + 0.8571vw, 2.5rem);
  font-family: 'iA Writer Mono', sans-serif;
  text-align: center;
}

// // // RULES STYLES

ol {
  // design
  max-width: 400px;

  // structure
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

li {
  // font
  font-family: 'iA Writer Mono', sans-serif;
  font-size: clamp(0.75rem, 0.6964rem + 0.2857vw, 1rem);
  text-align: justify;
}

// // // INPUT + ADD BTN

.top {
  // design
  width: 100%;

  // structure
  display: flex;
  justify-content: space-around;
  // place-items: center;
}

// // // INPUT DESIGN

input {
  // design
  padding: .3rem;
  border: 2px solid #000;
  border-radius: 4px;

  // font
  font-family: 'DM Sans Variable', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
input:focus {
  outline: none;
}

// // // SORTEO SECTION

section {
  // color
  // background-color: aquamarine;

  // design
  max-height: 300px;
  width: 400px;
  padding: 1rem;
  border-left: 2px solid #000;
  // border-right: 2px solid #000;
  // overflow: hidden;
  overflow-y: scroll;

  // structure
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .test {
    border-bottom: 1px solid #000;

    // font
    font-family: 'iA Writer Mono', sans-serif;
    font-size: clamp(0.75rem, 0.6964rem + 0.2857vw, 1rem);
  }

}

// // // SCROLLBAR DESIGN FOR SORTEO SECTION

section::-webkit-scrollbar {
  width: 6px;
}
/* Track */
section::-webkit-scrollbar-track {
  background: inherit;

}

/* Handle */
section::-webkit-scrollbar-thumb {
  background: hsl(224, 78%, 41%);
  border-radius: 4px;
}

/* Handle on hover */
section::-webkit-scrollbar-thumb:hover {
  background: hsl(224, 76%, 33%);
}

// // // BOTTOM BUTTONS

.bottom {
  // desing
  width: 400px;

  // structure
  display: flex;
  justify-content: space-between;
}

// // // BUTTONS

button {
  // color
  background-color: #FFF;

  // design
  min-width: 70px;
  padding: .3rem 1rem;
  border: none;
  border-radius: 4px;

  // structure
  display: flex;
  place-items: center;
  place-content: center;

  cursor: pointer;

  // font
  font-family: 'DM Sans Variable', sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 0.9732rem + 0.1429vw, 1.125rem);
}

// // // BUTTON STYLES

#add {
  // design
  border: 1px solid hsl(224, 78%, 41%);
}
#add:active {
  // design
  outline: 2px solid hsla(224, 78%, 41%, 0.24);
}

#reset {
  // design
  border: 1px solid hsl(0, 78%, 41%);
}
#reset:active {
  // design
  outline: 2px solid hsl(0, 78%, 41%, 0.24);
}

#sort {
  // design
  border: 1px solid hsl(0, 0%, 0%);
}
#sort:active, #sort:focus {
  // design
  border: 1px solid hsl(0, 0%, 0%);
  outline: 2px solid hsl(0, 0%, 0%, 0.24);

  // animation
  animation: click .3s ease;
}

// // // ANIMATIONS

@keyframes click {
  0% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

// // // RESPONSIVE

@media ( max-width : 500px ) {

  main {
    width: 100%;
  }

  ol {
    // design
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .top {
    // design
    width: 100%;

    // structure
    justify-content: space-evenly;
  }

  section {
    // design
    max-height: 250px;
    width: 100%;
    padding: 1rem;
    border-left: none;
    overflow-y: scroll;

    .test {
      border-bottom: 1px solid #000;

      // font
      font-family: 'iA Writer Mono', sans-serif;
      font-size: clamp(0.75rem, 0.6964rem + 0.2857vw, 1rem);
    }

  }

  .bottom {
    // desing
    width: 100%;

    // structure
    justify-content: space-around;
  }

}
