<main>

  <h4>Sort different words</h4>

  <ol>

    <li>A list of words will be created.</li>
    <li>Then you can sort the content of that list and just ONE word is going to be drawn.</li>
    <li>Minimun of 2 words.</li>

  </ol>

  <div class="top">

    <input type="text">
    <button id="add">Add</button>

  </div>

  <section>

    <div class="test">safbas</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>
    <div class="test">sfafsfs</div>
    <div class="test">esghfdht</div>

  </section>

  <div class="bottom">

    <button id="reset">Reset</button>

    <button id="sort">Sort</button>

  </div>

</main>
