/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
  background-color: #000;
  color: hsl(224, 78%, 41%);
}

@import '@fontsource/ia-writer-mono';

// Supports weights 100-900
@import '@fontsource-variable/dm-sans';
